
{% extends 'base.html.twig' %}

{% block title %}Редактировать страницу{% endblock %}

{% block body %}

<div class="container">

<form action ="{{ path('book_update', {id: book.id})}}" 
method="post" name="editForm">

<input type="number" name="id" value="{{book.id}}">
<input type="text"name="title" value="{{book.title}}">
<input type="text" name="year"value="{{book.year}}">
<input type="text" name="author"value="{{book.author}}">
<div id="success"></div>
<input type="submit" value="Сохранить" id="btn_save">

</form>
</div>
{% endblock %}
